.about {
  background-color: #023b5e;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.flex {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.about h2 {
  text-decoration: underline;
}
.about h2 {
  color: #e9cc00;
}
.about p,
.about li {
  color: #09ce8a;
}
.container-padding {
  padding: 6rem 0;
}
