:root {
  --primary: #023b5e;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  background: #09ce8a;
  font-family: sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
*,
::before,
::after {
  box-sizing: inherit;
}
h1 {
  font-size: 4rem;
  color: var(--primary);
}
h2 {
  font-size: 3.2rem;
  color: var(--primary);
}
h3 {
  font-size: 2.6rem;
  color: var(--primary);
}
p,
a,
label,
input,
button {
  font-size: 1.8rem;
  color: var(--primary);
}
img {
  width: 100%;
}
ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
