.intro {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}
.intro-img {
  border-radius: 50%;
  position: relative;
  width: 30rem;
  height: 30rem;
}
.intro-img img {
  border-radius: 50%;
}
@media screen and (max-width: 768px) {
  .intro {
    flex-direction: column;
  }
}
@media screen and (max-width: 480px) {
  .intro-img {
    width: 22rem;
    height: 22rem;
  }
}
